body {
  background-image: url("./images/wall5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#lg1 {
  padding-top: 5vw;
  height: 6vw;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 3vw;
  font-weight: 600;
  color: rgb(8, 8, 8);
  text-shadow: 0 0 0.2vw #ffffff, 0 0 0.5vw #a54141;
  font-family: "BankGothic Md BT";
}

#lg2 {
  height: 30vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 0, 0);
  opacity: 0.8;
}

#lg21 {
  height: 10%;
  width: 98%;
  padding-left: 1vw;
  display: flex;
}
#lg211:hover {
  cursor: pointer;
}

#lg22 {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: "BankGothic Md BT";
  font-style: normal;
}

.lg223 {
  width: 40%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 1.2vw;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.4vh;
  font-family: "BankGothic Md BT";
  margin-top: 2vw;
}

.lg223:hover {
  background-color: rgb(137, 135, 135);
  cursor: pointer;
}

.txtfld {
  width: 80%;
  height: 50%;
  font-size: 1vw;
  letter-spacing: 0.2vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.txtfld2 {
  width: 90%;
  height: 20%;
  font-size: 1vw;
  letter-spacing: 0.2vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.txtnm {
  color: #ffffff;
  font-size: 1.2vw;
  letter-spacing: 0.5vh;
  padding-left: 1vw;
}

#lg221 {
  width: 100%;
  height: 21%;
  text-align: left;
  margin-left: 7vw;
}

#lg222 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lg2221 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
